<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--UserDao의 SQL입니다.-->
<mapper namespace="user">
    <select id="get_user_list" resultType="userBean">
        <![CDATA[
            select * from user_table
        ]]>
    </select>

    <select id="get_user" parameterType="java.lang.String" resultType="userBean">
        <![CDATA[
            select * from user_table
            where user_id = #{userId}
        ]]>
    </select>

    <insert id="add_user_info" parameterType="userBean">
        <selectKey keyProperty="userIdx" order="BEFORE" resultType="java.lang.Integer">
            select user_seq.nextval from dual
        </selectKey>
        <![CDATA[
            insert into user_table(user_idx, user_name, user_id, user_pw)
            values(#{userIdx}, #{userName}, #{userId}, #{userPw})
        ]]>
    </insert>

    <select id="get_login_user_info" resultType="userBean" parameterType="userBean">
        <![CDATA[
            select user_idx, user_name
            from user_table
            where #{userId} = user_id and #{userPw} = user_pw
        ]]>
    </select>



</mapper>

